/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-size: 75%;
  font-family: "Myriad Pro", Lucida, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


/*****************************************************************************/
/*
/* FROM WORDPRESS
/*
/*****************************************************************************/





body {
margin: 0;
padding: 0;  
color: #111;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size: 100.1%;
background: #eee;
}


#wrapper{
width: 1000px;
margin: 0px;
padding: 0px;
text-align:left;
font-size: 75%;
line-height:20px;
background: #fff url("http://articles.cybercow.se/w/wp-content/themes/8somearlukin/images/wrapperbg.gif") repeat-y;
}

#header{
padding: 25px 0px 0 0 ;
margin: 0;
height:50px;
}	

#content{
margin: 0;
padding: 0;

}	

#main {
width: 660px; 
float:right;
margin: 0;
padding: 20px 20px 20px 0;
overflow:hidden;
}


#sidebar {
padding: 0;
margin: 0 700px 0 0 ;
background: gray;
background:  url("http://articles.cybercow.se/w/wp-content/themes/8somearlukin/images/sidebarbg.jpg") top center no-repeat;
color:#fff;
height:100%;
}

#footer p{
margin:0;
padding:15px 0;
}

#navigation{
padding: 5px 15px;

}

#navigation div.fleft{
float:left;
}

#navigation div.fright{ 
float:right;
}

#credit{
text-align:center;
}

#credit p{
margin:0;
color:#555;
font-size:85%;
}

#credit p a, #credit p a:hover{
color:#555;
font-weight:100;
}

/*  ********** default styles *********** */

p, h1, h2, h3, h4, h5, h6{
margin: 10px 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6 {
/*  font-family: georgia, 'Times New Roman', sans-serif; */
}

h1{
	font-size: 190%;
}
h2{
	font-size: 160%;
}
h3{
	font-size: 120%;
}
h4{
	font-size: 110%;
}
h5{
	font-size: 100%;
}
h6{
	font-size: 70%;
}


a{
color:#1f58a8;
font-weight:800;
text-decoration:none;
}
a:hover{
color:#1f58a8;
text-decoration:underline;
}

a img{
border:0px;
}

hr{
height:2px;
margin:5px 0;
border: 1px solid #ccc;
}

blockquote{
background: #f4f4f4;
padding: 5px 15px;
margin: 3px 30px;
}

form{
margin: 0;
padding:0;
}

fieldset{
padding:10px;
margin:0;
border:none;
}

legend{
font-weight:800;
}

code{
	font-size: 90%;
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

td{
 vertical-align:top;
}

.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}



/* Headings */ 

form#searchform2{
display: block;
margin: 10px;
}

#header a{
font-weight:100;
color: #fff;
text-decoration: none;
font-size: 280%;
line-height:28px;
}

#header p{
margin: 0;
padding: 3px 0 5px 10px;
font-weight:100;
font-style:italic;
color: #fff;
font-size: 100%;
letter-spacing: 1px;
}

h2#sectiontitle{
font-size:100%;
font-weight: 800;
font-family: arial, verdana, sans-serif;
padding:6px 6px 6px 10px;
margin:3px 5px 15px 5px;
background: #f2f2f2;
color: #444;
}

/* post styles */

.post{
margin: 0 0 10px 0;
padding: 5px 10px 5px 10px;
background:  url("http://articles.cybercow.se/w/wp-content/themes/8somearlukin/images/postbg.jpg") top center no-repeat;
}

.entry{
margin: 0;
padding: 0px 10px 3px 10px;
font-size: 11pt;	
}

.post h2, .post h1 {
color: #1f58a8;
font-size: 170%;
font-weight:100;
padding: 1px 10px 2px 0;
margin: 10px 0 3px 0;
}

 .post h1 {
font-size: 200%;
}

.post h2 a, .post h1 a{
color: #1f58a8;
text-decoration:none;
font-weight:100;
}

.post h2 a:hover, .post h1 a:hover{
text-decoration:none;
color: #1f58a8;
}

.postmetadata, .categorymeta{
font-size:90%;
padding: 1px 8px 20px 5px;
margin: 0;
line-height: 12px;
}

.postmetadata{
color: #777;

}

.responses{
float:right;
}

.categorymeta{
text-align:right;
}

/*  Comments   */

h3#comments, h3#postcomment{
	font-size: 100%;
	font-family:verdana, sans-serif;
}	

ol#commentlist{
padding: 0 0 0 20px;
font-size: 90%;
list-style-type: none;
}

ol#commentlist li{
	padding: 0px 3px;
	margin: 0;
}

ol#commentlist li p.commentheader{
margin: 0px 0 0px 0;
display: block;
padding: 1px 5px;
}



ul#commentlist{
padding: 0;
margin:0;
list-style-type:none;
}

ul#commentlist li{
	display: block;
	padding: 0;
	margin: 0 15px 5px 15px;
	font-size:90%;
	background: #f2f2f2;
}

ul#commentlist p{
margin: 6px 0;
}

ul#commentlist li div.comm{
margin: 1px;
padding: 1px;
}

ul#commentlist li div.gravatar {
	width:50px;
	float:left;
	padding: 10px 0 0 10px;
}

ul#commentlist li div.gravatar img{
border: 2px solid #ccc;
}




ul#commentlist li div.commenttext{
padding: 0;
margin:5px 10px 5px 65px;
}

ul#commentlist li div.commenttext div.commentwrapper{
margin:0 0 0 5px;
padding: 3px 8px;
}


/*  sidebar styles */

#subscribe{
 text-align:center;
}

#subscribe p{
margin: 3px 0 10px 0;
font-size: 110%;
}

#subscribe p a{
color: #fff;
}


.menu{
padding:0px 10px 10px 0px;
}

.menu a{
font-weight: 100;
color:#fff;
}

.menu a:hover{
text-decoration:none;
color:#999;
}

.menu ul{
margin:0;
padding:0;
list-style-type:none;
}

.menu ul li.widget{
margin: 0 0 20px 0;
padding:0 30px 0px 25px;

}

.menu ul li.widget ul{
	margin: 0;
	padding:0 0 0 0;
}

.menu ul li.widget ul li{
background: url("http://articles.cybercow.se/w/wp-content/themes/8somearlukin/images/listbullet.gif") no-repeat 0 2px;
border-bottom:1px solid #555;
padding: 1px 0 1px 15px;
margin:0;
}

.menu ul li.widget ul li ul{
}

.menu ul li.widget ul li ul li{
#border-top: 1px solid #555;
border-bottom: none !important;
padding: 0 0 0 15px;
margin: 0 0 0 0;
}



.menu ul li.widget h3{
font-size:140%;
padding:2px;
margin:14px 0 8px 4px;
color: #fff;
font-weight: 800;
border-bottom: 1px solid #fff;
 font-variant:small-caps;
}

.menu ul li h3 a{
color: #fff;
font-weight: 800;
}
.menu ul li h3 a:hover{
color: #333;
text-decoration: none;
}

.menu form{
display:block;
margin:0px;
padding:4px;
}

.menu input{
margin:3px 0;
font-size:90%;
}

li.widget .textwidget, li.widget #search {
padding: 2px 5px;
}

/* Calendar styles */
#wp-calendar {
empty-cells: show;
margin: 10px auto 0;
width: 155px;
}

#wp-calendar #next a {
padding-right: 10px;
text-align: right;
}

#wp-calendar #prev a {
padding-left: 10px;
text-align: left;
}

#wp-calendar a {
display: block;
}

#wp-calendar caption {
text-align: center;
width: 100%;
}

#wp-calendar td {
padding: 3px 0;
text-align: center;
}


#footer a{
font-weight: 100;
}

#sidebar input{
background: #444;
border: 1px solid #666;
color: #fff;
}






#main table
{
}

#main table caption
{
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

#main table th
{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 0px 3px 0px 7px;
	background: #CAE8EA url(/w/wp-content/themes/8somearlukin/images/bg_header.jpg) no-repeat;
}

#main table th.nobg
{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#main table td
{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 0px 3px 0px 3px;
	color: #4f6b72;
}

#main table td.alt
{
	background: #F5FAFA;
	color: #797268;
}

#main table th.spec
{
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(/w/wp-content/themes/8somearlukin/images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#main table th.specalt
{
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(/w/wp-content/themes/8somearlukin/images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

#main table th.specno
{
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.code
{
}
table
{
border-spacing: 0; *border-collapse: collapse;
}
