<!DOCTYPE html>
<html>
<head>
    <title>Arlukin Articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/aa.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="page-header">
                  <h3 class="text-center">Arlukin Articles <br><small >Out here in the perimeter there are no stars</small></h3>
                </div>

                <div class="panel-group" id="accordion">

                    <!-- Development -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#development">
                                    Development
                                </a>
                            </h4>
                        </div>
                        <div id="development" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.development %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- linux -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#linux">
                                    Linux
                                </a>
                            </h4>
                        </div>
                        <div id="linux" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.linux %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- business -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#business">
                                    Business
                                </a>
                            </h4>
                        </div>
                        <div id="business" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.business %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- veg_recipe -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#veg_recipe">
                                    Veg recipe
                                </a>
                            </h4>
                        </div>
                        <div id="veg_recipe" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.veg_recipe %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- body_and_soul_system -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#body_and_soul_system">
                                    Body & Soul system
                                </a>
                            </h4>
                        </div>
                        <div id="body_and_soul_system" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.body_and_soul_system %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- other -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#other">
                                    Other
                                </a>
                            </h4>
                        </div>
                        <div id="other" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.other %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-md-8">
                {{ content }}
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>

