<!DOCTYPE html>
<html>
<head>
    <title>Arlukin Articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Lindh" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- RSS Feed -->
    <link href="http://feeds.feedburner.com/ArlukinArticles" rel="alternate" title="Arlukin Articles" type="application/atom+xml" />

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/aa.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Arlukin Articles</a>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">

                <div class="panel-group" id="accordion">

                    <!-- linux -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#linux">
                                    Linux
                                </a>
                            </h4>
                        </div>
                        <div id="linux" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.linux %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- Development -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#development">
                                    Development
                                </a>
                            </h4>
                        </div>
                        <div id="development" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.development %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- veg_recipe -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion4" href="#veg_recipe">
                                    Veg recipe
                                </a>
                            </h4>
                        </div>
                        <div id="veg_recipe" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.veg_recipe %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- business -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#business">
                                    Business
                                </a>
                            </h4>
                        </div>
                        <div id="business" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.business %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- body_and_soul_system -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#body_and_soul_system">
                                    Body & Soul system
                                </a>
                            </h4>
                        </div>
                        <div id="body_and_soul_system" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.body_and_soul_system %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <!-- other -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#other">
                                    Other
                                </a>
                            </h4>
                        </div>
                        <div id="other" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in site.categories.other %}
                                    <a href="{{ post.url }}">{{ post.title }}</a><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

                <div id="copyright" class="text-center">
                    Copyright (c) 2013 <a href="http://arlukin.cybercow.se">Daniel Lindh</a>
                </div>

                <div class="text-center">
                    <a
                    href="http://sveaborg.cybercow.se/">Sveaborg</a>&nbsp;|&nbsp;<a
                    href="http://www.amivono.com/">Amivono</a>&nbsp;|&nbsp;<a
                    href="http://gberga.cybercow.se/">Gberga</a>&nbsp;|&nbsp;<a
                    href="http://ngaufu.cybercow.se/">Ngau&nbsp;fu</a>
                </div>

            </div>

            <div class="col-xs-12 col-md-8">
                {{ content }}
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">

            <!-- Arlukin on internet - Begin -->
            <div class="row">
                <div id="accounts" class="col-xs-12 text-center">
                    <a href="http://www.facebook.com/arlukin" title="Facebook"><img src="/images/facebook.jpg" alt="Facebook"/></a>
                    <a href="http://www.linkedin.com/in/daniel-lindh-entrepreneur" title="Linkedin"><img src="/images/linkedin.jpg" alt="Linkedin"/></a>
                    <a href="http://www.youtube.com/user/cybercowdotse" title="Youtube"><img src="/images/youtube.jpg" t="Youtube"/></a>
                    <a href="http://www.geni.com/people/Daniel-Lindh" title="Geni"><img src="/images/geni.jpg" alt="Geni"/></a>
                    <a href="https://www.flashback.org/u10518" title="Flashback"><img src="/images/flashback.jpg" alt="Flashback"/></a>
                    <a href="http://www.gravatar.com/avatar/e48848ec1ed23a7503566db114efd000.png" title="Gravatar"><img src="/images/gravatar.jpg" alt="Gravatar"/></a>
                    <a href="http://www.minhembio.com/MasterPo" title="Min hembio"><img src="/images/minhembio.jpg" alt="Min hembio"/></a>
                    <a href="http://github.com/arlukin" title="Github"><img src="/images/github.jpg" alt="Github"/></a>
                    <a href="http://stackoverflow.com/users/285421/arlukin" title="Stackoverflow"><img src="/images/stackoverflow.jpg" alt="Stackoverflow"/></a>
                    <a href="http://serverfault.com/users/64308/arlukin" title="Serverfault"><img src="/images/serverfault.jpg" alt="Serverfault"/></a>
                    <a href="https://sourceforge.net/users/arlukin" title="Sourceforge"><img src="/images/sourceforge.png" alt="Sourceforge"/></a>
                    <a href="https://launchpad.net/~daniel-cybercow" title="Launchpad"><img src="/images/launchpad.jpg" alt="Launchpad"/></a>
                    <a href="http://ubuntuforums.org/member.php?u=928011" title="Ubuntu forums"><img src="/images/ubuntuforum.jpg" alt="Ubuntu forums"/></a>
                    <a href="http://feeds.feedburner.com/ArlukinArticles" rel="alternate" type="application/rss+xml"><img src="/images/rss.png" alt=""/></a>
                </div>
            </div>
            <!-- Arlukin on internet - End -->

        </div>
    </div>


    <!-- ClickTale Bottom part - Begin -->
    <div id="ClickTaleDiv" style="display: none;"></div>
        <script type="text/javascript">
        if(document.location.protocol!='https:')
            document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb6.js'%20type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if(typeof ClickTale=='function') ClickTale(8054,0.45,"www07");
        </script>
    <!-- ClickTale Bottom part - End-->


    <!-- Google Analytics - Begin -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7992009-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- Google Analytics - End -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $( "table" ).addClass( "table table-striped table-condensed" );
</script>


</body>
</html>

